manifest {
    name = 'metatranscriptome-dge-workflow'
    description = 'Manifest-driven edgeR workflow for INTERES metatranscriptomes'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.10.0'
}

params {
    input = null
    outdir = 'results'
    analysis_id = null
    publish_mode = 'copy'
}

process {
    executor = 'local'
    errorStrategy = 'terminate'

    withName: RUN_DGE {
        cpus = 1
        memory = 32.GB
        time = 12.h
        maxForks = 1
    }
}

profiles {
    test {
        process.maxForks = 1
    }
}
